body {
  background-color: #f0efe9;
}
.box {
  max-width: 400px;
  margin: 100px auto;
  padding: 50px !important;
}
.button {
  position: absolute;
  margin-left: -50px;
  bottom: -50;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  color: #47c28e;
  font-size: 40px;
  background-color: #50e3a4;
  border: 0px;
}
.button-center {
  align-items: center;
  text-align: center;
}
.dateday {
  height: 50px;
}
.date {
  font-size: 32px;
  margin-top: 0;
}
.month-year {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 10px;
}
.day {
  font-size: 20px;
  margin-top: 8px;
}
.todos {
  max-height: 400px;
  overflow-x: clip;
  overflow-y: auto;
}
.todo-item {
  padding-top: 12px;
  padding-bottom: 12px;
}
.todo-title {
  height: 30px;
}
.todo-input {
  padding: auto;
}
.icon {
  padding-right: 2px;
  font-size: 15px;
  border: 5px solid #65e6af;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  direction: rtl;
  color: #5ad3a0;
}
.icon :hover {
  cursor: pointer;
}